CompileFlags:
  Add: [-I/opt/sycl/include/]
  Remove: [-fsycl-targets=*]
Diagnostics:
  Suppress:
    - drv_unknown_argument
    - readability-convert-member-functions-to-static
    - readability-math-missing-parentheses