---
Checks: '-*,
  clang-diagnostic-*,clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -performance-avoid-endl,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  -modernize-use-std-numbers,
  -readability-identifier-length,'

WarningsAsErrors: '*'
CheckOptions: 
  - key: readability-identifier-length.IgnoredParameterNames
    value: '(x|x0)'
